{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}    
    
    <section>
        <nav aria-label="breadcrumb" style="margin-left: 75px;">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Architecture</a></li>
              <li class="breadcrumb-item"><a href="#">Living Room</a></li>
            </ol>
          </nav>
        <!-- <div style="margin-left: 120px; margin-top: 15px;">
            <span><a href="">Home</a><span>/</span>Design</span>/<span>Name of part</span>
        </div> -->
        <div class="navbartop">
            <a href="" class="active">Living Room</a>
            <a href="">kitchens</a>
            <a href="">Master bedrooms</a>
            <a href="">Kid's bedrooms</a>
            <a href="">Dining room</a>
            <a href="">Bathroom</a>
        </div>
        <hr>
        <div class="design" style="margin-left: 65px; margin-top: 40px;">
            <h1>Bathroom Designs</h1>
            <p style="margin-top:40px;">You never get a second chance to make a first impression. So, your home's first room, the living room,
                should be spectacular! Browse through our wide range of living room designs to steal some inspiration
            </p>
        </div>
    </section>
    <p>Images are being designed. Will be published soon</p>

    <!-- <section>
        <div class="container">
            <div class="row g-3">
                <div class="design-card col-md-4 my-4">
                    <a href="{% url 'design-inner-details' %}"><img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-1.1.jpeg"
                            alt="">    
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Spacious Multi-functional Living Room With Wardrobe Storage</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-10+Scandinavian.jpg"
                            alt="">
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Spacious Multi-functional Scandinavian Style Living Room</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-2+bright.jpeg"
                            alt="">
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Bright And Spacious Craftsman Style Living Room With Earthy Tones</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-3+contemporary.jpeg"
                            alt="">
                           
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Spacious Contemporary Living Room With Solid Coloured Rug</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-15+tv+contemporary.jpeg"
                            alt="">
                            
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Spacious Contemporary Living Room With TV Console And Solid Coloured Rug</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-5+luxury.jpeg"
                            alt="">
                            
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Luxury Living Room With Wooden Trims and Gold Details</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-6+minimal+furn.jpeg"
                            alt="">
                            
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Spacious Earthy Living Room With Minimal Furniture</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-7+southwestern.jpeg"
                            alt="">
                            
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Big Southwestern Style Living Room With Muted Colour Palettes</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-14+compact.jpg"
                            alt="">
                            
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Minimal White Living Room For Compact Rental Homes</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-9+electric+multi.jpeg"
                            alt="">
                           
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Eclectic Multi-functional Living Room With Bright Decor</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-11+big-living+room.jpg"
                            alt="">
                            
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Big Living Room With Ceiling Design Variations</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>

                <div class="design-card col-md-4 my-4">
                    <a href=""><img img class="design-image"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-13+wall+frems.jpg"
                            alt="">
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="living-text">Spacious Living Room With Colourful Wall Frames</p>
                        </div>
                        <div class="col-md-4">
                            <button href="#" class="btn Quotebtn btn-outline-danger" type="button">Get Quote</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
{% endblock %}