{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %} 
 <section>
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-8">
                <img class="design-image1" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-1.1.jpeg" alt="">
             </div>
             
             <div class="col-md-4" style="height: fit-content;">
                  <h4>Living Room </h4><hr>
                  <p>Spacious Multi-functional Living Room With Wardrobe Storage</p>
                  <p>A room in a house for general everyday use</p>
                <!-- <a href="#" class="buttn" type="button">Speak to our Designer</a> -->
            </div>
         </div>
    </div><hr class="living-hr">
    </section>

{% endblock %}