{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}

<section>
        <video width="100%" height="350" controls autoplay>
        <source src="arch2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>
    <section>
        <div class="text-center my-3">
            <h3>Exterior Design</h3>
        </div>
    </section>
    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img.jpg" alt="">
                        <h3 class="text-center">Lorem ipsum dolor</h3>
                        <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum facere quos!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img2.jpg" alt="">
                        <h3 class="text-center">Lorem ipsum dolor</h3>
                        <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum facere quos!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="card bg-dark text-dark text-center">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img3.jpg" height="250px" width="100%" class="card-img" alt="...">
            <div class="card-img-overlay my-5">
              <h3 class="card-title">Card title</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
    </section>
    <br>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img5.jpg" alt="">
                        <h3 class="text-center">Lorem ipsum dolor</h3>
                        <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum facere quos!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img6.jpg" alt="">
                        <h3 class="text-center">Lorem ipsum dolor</h3>
                        <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum facere quos!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="text-center my-3">
            <h3>Interior Design</h3>
        </div>
    </section>
    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
  <br>
  <section>
    <video width="100%" height="350" controls autoplay>
    <source src="arch.mp4.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img7.jpg" alt="">
                    <h3 class="text-center">Lorem ipsum dolor</h3>
                    <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum facere quos!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img8.jpg" alt="">
                    <h3 class="text-center">Lorem ipsum dolor</h3>
                    <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum facere quos!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section>
    <div class="card bg-dark text-dark text-center">
        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img9.jpg" height="250px" width="100%" class="card-img" alt="...">
        <div class="card-img-overlay my-5">
          <h3 class="card-title">Card title</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
</section>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img10.jpg" alt="">
                    <h3 class="text-center">Lorem ipsum dolor</h3>
                    <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum facere quos!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/architech+img11.jpg" alt="">
                    <h3 class="text-center">Lorem ipsum dolor</h3>
                    <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum facere quos!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}