{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
<section>
    <nav aria-label="breadcrumb" style="margin-left: 65px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Architecture</a></li>
        </ol>
      </nav>
    <div class="design" style="margin-left: 65px; margin-top: 20px;">
        <h3>Design Ideas</h3>
        <p>Check out how your dream home can look like. Get inspiration from Bricko Homes vast design catalog spanning
            across modular kitchens, living rooms, bedrooms, modular wardrobes and many more....</p>
    </div>
</section>


<section>
    <div class="container">
        <div class="row g-3">
            <div class="design-card col-md-4 my-4">
                <a href="{% url 'design-inner' %}"><img class="design-image" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/living+room/living-room-1.webp"
                    alt="">
                <h4 class="interior-section">Living room</h4></a>
            </div>

            <div class="design-card col-md-4 my-4">
                <a href="{% url 'kitchen-design' %}"><img class="design-image" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/Kitchen/kitchen-1.jpg"
                    alt="" >
                <h4 class="interior-section">kitchens</h4></a>
            </div>

            <div class="design-card col-md-4 my-4">
                <a href="{% url 'master-bedroom-design' %}"><img img class="design-image" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/Master+bedroom/master-bedroom-1.jpg"
                    alt="" >
                <h4 class="interior-section">Master bedrooms</h4></a>
            </div>

            <div class="design-card col-md-4 my-4">
                <a href="{% url 'kid-bedroom-design' %}"><img img class="design-image" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/Kids+bedroom/kids-bedroom1.jpeg"
                    alt="" >
                <h4 class="interior-section">kid's bedrooms</h4></a>
            </div>
            <div class="design-card col-md-4 my-4">
                <a href="{% url 'dining-room-design' %}"><img img class="design-image" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/Dining+room/dining+room1.jpg"
                    alt="" >
                <h4 class="interior-section">Dining Room</h4></a>
            </div>

            <div class="design-card col-md-4 my-4">
                <a href="{% url 'bathroom-design' %}"><img img class="design-image" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/Bathroom/bathroom-1.jpg"
                    alt="" >
                <h4 class="interior-section">Bathroom</h4></a>
            </div>       
        </div>
    </div>
</section>
    
{% endblock %}