{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
<section class="vh-100" style=" font-family:Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
   
  <section>
    <div class="container1">
      <img class="img2" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/our+company/our+coumpany.jpeg" alt="Bricko Homes" height="400px" style="width:100%;">
        <div class="centered">
          <h3>About Bricko Homes</h3>
          <p>We offer our top clients the best in terms of superior quality, quantity, safety, functionality, and punctuality as we ensure to deliver the work on time.</p>
          <p>we are over the years with a vision to become a better top construction company in Patna to help our clients to convert their ideas into a wonderful infrastructure and at the same time, we are employing one of the best methods to convert into the best infrastructure.</p>
        </div>
    </div>
  </section>
  <section>
    <div class="body-card">
      <h3 class="body-cardheader">Our Team</h3>
      <p class="body-cardpara">About Our Team.</p>
    </div>
 
    <div class="row p-3">

      {% if teams %}
          {% for team in teams %}
            <div class="column">
              <div class="card">
                <img src="{{team.profile_dp.url}}" height="300px" alt="Bricko Homes" style="width:100%">
                <div class="container">
                  <h3 style="color: black;">{{ team.name}}</h3>
                  <p class="title" style="color: black;">{{ team.designation}}</p>
                  <p>{{ team.description |safe }}</p>
                  Email:&nbsp<code>{{ team.email}}</code><br>
                </div>
              </div>
            </div> 
          {% endfor %}
          {% else %}
              <p>Team data not public</p>
          {% endif %}     

      

      
      <div class="body-card">
        <h3 class="body-cardheader">Vision</h3>
        <p class="body-cardpara">Company Vision.</p>
      </div>
      <div class="body-card">
        <h3 class="body-cardheader">Mision</h3>
        <p class="body-cardpara">Company Mision</p>
      </div>
    </div>
  </section>

{% endblock %}