<section style="background-color: #daeaf6;">
  <br>
    <h3><b><center>Stay Updated with Latest Design Trends</center></b></h3>
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
          <div class="card">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/Apartment/apartmant.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Apartment</h5>
              <p class="card-text">An apartment (US English) or flat (British English) is a place to live that is only part of a larger building.</p>
              <a href="{% url 'home-design' %}">Read More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/duplex/duplex2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Duplex</h5>
              <p class="card-text">A duplex house plan has two living units attached to each other, either next to each other as townhouses, condominiums or above each other like apartments.</p>
              <a href="{% url 'home-design' %}">Read More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/hotel/hotel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hotel</h5>
              <p class="card-text">A hotel is an establishment that provides paid lodging on a short-term basis..</p>
              <a href="{% url 'home-design' %}">Read More</a>
            </div>
          </div>
        </div>
      </div>
</section>