{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
<section>
    <div class="body-card">
      <h3 class="body-cardheader">Our Experts</h3>
      <p class="body-cardpara">We are group of people who work to build best infrastructure for our clients. Proudly we are listing our key members here on our portal.</p>
    </div>
    
        <div class="row p-3">
          {% if teams %}
          {% for team in teams %}
            <div class="column">
              <div class="card">
                <img src="{{team.profile_dp.url}}" height="300px" alt="Bricko Homes" style="width:100%">
                <div class="container">
                  <h3 style="color: black;">{{ team.name}}</h3>
                  <p class="title" style="color: black;">{{ team.designation}}</p>
                  <p>{{ team.description |safe }}</p>
                  Email:&nbsp<code>{{ team.email}}</code><br>
                </div>
              </div>
            </div> 
          {% endfor %}
          {% else %}
              <p>Team data not public</p>
          {% endif %}     
        </div>
      

  </section>

{% endblock %}