{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
    <section>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/Apartment/Apartment+use.jpg" height="470px" width="100%"
                        class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">
                        <h4>Apartment</h4>
                        <p>An apartment (US English) or flat (British English) is a place to live that is only part of a
                            larger building.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/duplex/duplex+use.jpg"
                        height="470px" width="100%" class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">

                        <h4>Duplex</h4>
                        <p>A duplex house plan has two living units attached to each other, either next to each other as
                            townhouses, condominiums or above each other like apartments.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/bungalow/bungalow-use.jpg"
                        height="470px" width="100%" class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">

                        <h4>Bungalow</h4>
                        <p>A bungalow is a one-story house, cottage, or cabin. Bungalows are generally small in terms of
                            square footage.</p>
                    </div>
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/villa/vill+use.jpg" height="470px"
                        width="100%" class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">

                        <h4>Villa</h4>
                        <p>A villa is a type of house that was originally an ancient Roman upper-class country house.
                        </p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/cottage/cottage+use.jpg" height="470px" width="100%"
                        class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">

                        <h4>Cottage</h4>
                        <p>A cottage is a term often used for a small house. In many places the word cottage is used to
                            mean a small old-fashioned house.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/hotel/hotel+use.jpg" height="470px" width="100%"
                        class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">
                        <h4>Hotel</h4>
                        <p>A hotel is an establishment that provides paid lodging on a
                            short-term basis. Facilities provided inside a hotel room may range from a modest-quality
                            mattress in a small room to large suites with bigger.</p>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/guest+house/gaust+house1.jpg" height="470px" width="100%"
                        class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">
                        <h4>Guest house</h4>
                        <p>A guest house (also guesthouse) is a kind of lodging.</p>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/cottage/woodenhouse.jpeg" height="470px" width="100%"
                        class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">
                        <h4>House</h4>
                        <p>Some furnished design.</p>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/glass+house/Glass+House.jpeg" height="470px" width="100%" class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">
                        <h5>Glass House</h5>
                        <p>Made with Glass.</p>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/Patna/patna+use.jpg" height="470px" width="100%" class="d-block w-100" alt="...">
                    <div class="home-design carousel-caption d-none d-md-block">
                        <h5>Patna</h5>
                        <p>Bricko Homes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="sustain-commitment">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-house-door" viewBox="0 0 16 16">
                    <path
                        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
                </svg></a>
            <a>/Your Dream/</a>
            <a>Homes design</a>
        </div>
    </section>
    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
    <div>
        <h4>Apartment!!!</h4>
    </div>
    <section>
        <div class="containar">
            <div class="row">
                <div class="col-md-8">
                    <p class="project-discription">An apartment (US English) or flat (British English) is a place to
                        live that is only part of a larger building. ... Each apartment is a separate room or set of
                        rooms for people to live in. Sometimes an apartment will only be one small room, and tenants
                        will have to share other rooms like the bathroom and kitchen.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/Apartment/Apartment+use.jpg" alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Duplex!!!</h4>
                    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">A duplex house plan has two living units attached to each other,
                        either next to each other as townhouses, condominiums or above each other like apartments.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img"
                        src="https://construction-static.s3.ap-south-1.amazonaws.com/images/duplex/duplex+use.jpg" alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Bungalow!!!</h4>
                    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">A bungalow is a one-story house, cottage, or cabin. Bungalows are
                        generally small in terms of square footage, but it is not uncommon to see very large bungalows.
                        Bungalows were originally designed to provide affordable, modern housing for the working class.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img"
                        src="https://construction-static.s3.ap-south-1.amazonaws.com/images/bungalow/bungalow-use.jpg" alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Villa!!!</h4>
                    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">A villa is a one-level structure, often with an exterior patio and
                        front garden or terrace. They may share at least one common wall with a neighboring villa or be
                        detached. Villas have a history that dates back to the Roman Empire. ... Villas are built to
                        house a single family, rather than multiple families like a condo.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/villa/vill+use.jpg" alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Cottage!!!</h4>
                    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">A cottage is a term often used for a small house. This word comes
                        from England where it is used to mean a house that has one main storey, with a second, lower
                        storey of bedrooms which fit under the roof upstairs. In many places the word cottage is used to
                        mean a small old-fashioned house.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://construction-static.s3.ap-south-1.amazonaws.com/images/cottage/cottage+use.jpg" alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Hotel!!!</h4>
                    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">A hotel is an establishment that provides paid lodging on a
                        short-term basis. Facilities provided inside a hotel room may range from a modest-quality
                        mattress in a small room to large suites with bigger, higher-quality beds, a dresser, a
                        refrigerator and other kitchen facilities, upholstered chairs, a flat screen television, and
                        en-suite bathrooms. Small, lower-priced hotels may offer only the most basic guest services and
                        facilities. Larger, higher-priced hotels may provide additional guest facilities such as a
                        swimming pool, business centre (with computers, printers, and other office equipment),
                        childcare, conference and event facilities, tennis or basketball courts, gymnasium, restaurants,
                        day spa, and social function services. Hotel rooms are usually numbered (or named in some
                        smaller hotels and B&Bs) to allow guests to identify their room.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img"
                        src="https://construction-static.s3.ap-south-1.amazonaws.com/images/hotel/hotel+use.jpg"
                        alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Guest house!!!</h4>
                    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">A guest house (also guesthouse) is a kind of lodging. In some parts of the world (such as for example the Caribbean), guest houses are a type of inexpensive hotel-like lodging. In still others, it is a private home which has been converted for the exclusive use of lodging. The owner usually lives in an entirely separate area within the property and the guest house may serve as a form of lodging business. This type of accommodation presents some benefits such as:-Personalized attention, Healthy and homemade food, Quietness, Inexpensiveness.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img"
                        src="https://construction-static.s3.ap-south-1.amazonaws.com/images/guest+house/gaust+house1.jpg"
                        alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}