{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
<section class="career-option"
  style="font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
  <section>
    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/career/carrer1.jpg"
      height="400px" width="100%" alt="...">
  </section>
  <section style="background-color: white;">
    <div class="sustain-commitment">
      <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-house-door" viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </svg></a>
      <a>/Career Option</a>
    </div>
    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
    <section>
      <div>
        <h4>Join With Us</h4>
      </div>
      <div class="sustain-discription">
        <p><b>Bricko Homes </b>is the no. 1 construction agency with a vision to provide the best to our trusted clients. All our customers are very satisfied with the quality and consistency of our good work. Hence we are gradually developing as a top construction company in Patna Bihar, it’s based on our client’s ratings.
        </p>
      </div>

      <div class="containar" style=" background-image: linear-gradient( white,#f1eeef, #aec4c7);">
        <form class="form" method="post">
          {% csrf_token %}
          {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
            {% endif %}
          <div class="row">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
            <div class="col-md-4">
              <input type="email" class="form-control" placeholder="Enter email" name="email" required>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Designation" name="designation" required>
            </div>
          </div>
          <div class="row my-3 my-4">
            <div class="col-md-4">
              <input type="number" class="form-control" placeholder="Enter Mobile No." name="number" required>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Adderss" name="address" required>
            </div>
            <!-- <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Enter email" name="email">
          </div> -->
          </div>
          <div>
            <textarea placeholder="Youe Massage" name="message" rows="3" cols="100"></textarea>
          </div>
          <a class="button" href=""><button type="submit" class="btn btn-secondary btn-md"
              style="margin-top: 20px; margin-bottom: 70px;">Apply Now</button></a>
        </form>
      </div>
    </section>
  </section>
  {% endblock %}