{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}

    <section>
        <div style="color: black; font-weight: 600; background-color: white;">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/material/materils10.jpg"
                height="500px" width="100%" class="card-img" alt="...">
            <!-- <div class="card-img-overlay" style="margin-top: 25%; align-items: center;">
                <h5 class="card-title">Smart Homes</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div> -->
        </div>
    </section>
    <section class="container">
        <div class="card-body mx-3">
            <h5 class="card-title">Building material </h5>
            <hr style="border: solid gray; border-width: 1px;">
            <p class="card-text">Each building material posses different properties like weight, strength, durability,
                and cost which makes it suitable for certain types of applications. The selection of material types is
                based on cost and effectiveness in resisting the loads and stresses acting on the structure. The
                following are the building materials in civil engineering..
            </p>
            <h5>Some Basic useable building Materials</h5>
            <hr style="border: solid gray; border-width: 1px;">
            <ul class="sustain-list">
                <li>
                    Rod
                </li>
                <li>
                    Sand
                </li>
                <li>
                    Concrete
                </li>
                <li>
                    Bricks
                </li>
                <li>
                    Pvc Pipe
                </li>
                <li>
                    Steel
                </li>
                <li>Wood</li>
            </ul>
            <!-- <p class="card-text">Intelligent refrigerators already keep an inventory of their contents and send out
                phone alerts when certain items are running low, while smart mirrors that keep stock of the clothes in
                your wardrobe, and make recommendations about what to wear when you are going out, are no longer a new
                concept.</p> -->
        </div>
    </section>
    <section class="container">
        <div class="card mb-3" style="max-width: 1200px; padding: 10px; margin-left: 10px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/material/materils.jpg"
                        class="img-fluid rounded-start" alt="..." height="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Steel</h5>
                        <hr style="border: solid gray; border-width: 1px; margin-right: 10%;">
                        <p class="card-text">A hard, strong grey or bluish-grey alloy of iron with carbon and usually
                            other elements, used as a structural and fabricating material</p>
                        <p class="card-text">Steel is the world's most important engineering and construction material.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1200px; padding: 10px; margin-left: 10px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/material/materils3.jpg"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Concrete</h5>
                        <hr style="border: solid gray; border-width: 1px; margin-right: 10%;">
                        <p class="card-text">Concrete is a composite material composed of fine and coarse aggregate
                            bonded together with a fluid cement(cement paste) that hardens (cures) over time. Concrete
                            is the second-most-used substance in the world after water, and is the most widely used
                            building material. Its usage worldwide, ton for ton, is twice that of steel, wood, plastics,
                            and aluminum combined.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1200px; padding: 10px; margin-left: 10px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/material/materils5.jpg"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">PVC Pipe</h5>
                        <hr style="border: solid gray; border-width: 1px; margin-right: 10%;">
                        <p class="card-text">CPVC pipe known as Chlorinated Polyvinyl Chloride Pipe.
                        </p>
                        <p class="card-text"> PVC pipes:
                            safe, durable & cost-efficient,
                            sustainable and recyclable
                            PVC pipes are used in a wide variety of piping applications, from transportation of drinking
                            water over drainage solutions to advanced fire-sprinkler systems. This popularity owes to a
                            unique combination of properties: safety, durability/cost-efficiency, environmental
                            performance and recyclability</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1200px; padding: 10px; margin-left: 10px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/material/materils13.jpg"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Sand</h5>
                        <hr style="border: solid gray; border-width: 1px; margin-right: 10%;">
                        <p class="card-text">Sand is a granular material composed of finely divided rock and mineral
                            particles. Sand has various compositions but is defined by its grain size. Sand grains are
                            smaller than gravel and coarser than silt. Sand can also refer to a textural class of soil
                            or soil type; i.e., a soil containing more than 85 percent sand-sized particles by mass.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}