<!-- <section>
    <h3><b>Press Release</b></h3>
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
            Bricko Homes<br>
            <p>News</p>
        </div>
        <div class="p-2 flex-fill bd-highlight">
            Bricko Homes<br>
            <p>News</p>
        </div>
        <div class="p-2 flex-fill bd-highlight" href="#">
            Bricko Homes<br>
            <p>News</p>
        </div>
      </div>
</section> -->

<section>
    <br>
    <h5 class="package-head">News Article & Press Releases</h5>
      <div class="container" style="text-align: center; margin-top: 70px;">
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body" style="background-color: #d1cfe2;">
                <label for="news1">
                    Bricko News
                </label>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
                <div class="card-body" style="background-color: #d1cfe2;">
                  <label for="news1">
                      Bricko News
                  </label>
                </div>
              </div>
          </div>

          <div class="col">
            <div class="card">
                <div class="card-body" style="background-color: #d1cfe2;">
                  <label for="news1">
                      Bricko News
                  </label>
                </div>
            </div>
         
        </div>
      </div>
  </section>