{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
<section style="color: black; font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
    <section>
        <img src="https://cdn.britannica.com/22/127022-004-DDEB9FD1/Apartment-buildings-construction-Cambridge-Eng.jpg"
            style="height: 400px; width: 100%;" alt="...">
    </section>
    <section>
        <div class="sustain-commitment">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-house-door" viewBox="0 0 16 16">
                    <path
                        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
                </svg></a>
            <a>/Our Projects /</a>
            <a>Completed</a>
        </div>
    </section>
    <hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
    <div>
        <!-- <div class="vl"></div> -->
        <h4>Hajipur-Completed Project!!!</h4>
    </div>
    <section>
        <div class="containar">
            <div class="row">
                <div class="col-md-8">
                    <p class="project-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa ex sed eos nesciunt illo amet. Voluptatem, nulla, quia a maiores esse voluptates officiis, qui modi blanditiis quo porro facere amet delectus quaerat ipsum aperiam omnis! Nihil reprehenderit enim aliquam, assumenda consectetur rerum ipsa architecto officiis voluptatum earum atque dolorem placeat ad tenetur aspernatur, illum eaque laudantium, facere suscipit? Non cumque aspernatur corporis quasi in inventore delectus maiores autem nam architecto officia dignissimos eaque, velit, cupiditate doloremque aut repellat illo dolorum, impedit labore veniam iste esse unde quis? Odio, voluptas.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/10/20/w900X450/construction.jpg?w=400&dpr=2.6"
                        alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Hajipur-Completed Project!!!</h4><hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa ex sed eos nesciunt illo amet. Voluptatem, nulla, quia a maiores esse voluptates officiis, qui modi blanditiis quo porro facere amet delectus quaerat ipsum aperiam omnis! Nihil reprehenderit enim aliquam, assumenda consectetur rerum ipsa architecto officiis voluptatum earum atque dolorem placeat ad tenetur aspernatur, illum eaque laudantium, facere suscipit? Non cumque aspernatur corporis quasi in inventore delectus maiores autem nam architecto officia dignissimos eaque, velit, cupiditate doloremque aut repellat illo dolorum, impedit labore veniam iste esse unde quis? Odio, voluptas.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/10/20/w900X450/construction.jpg?w=400&dpr=2.6"
                        alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Hajipur-Completed Project!!!</h4><hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa ex sed eos nesciunt illo amet. Voluptatem, nulla, quia a maiores esse voluptates officiis, qui modi blanditiis quo porro facere amet delectus quaerat ipsum aperiam omnis! Nihil reprehenderit enim aliquam, assumenda consectetur rerum ipsa architecto officiis voluptatum earum atque dolorem placeat ad tenetur aspernatur, illum eaque laudantium, facere suscipit? Non cumque aspernatur corporis quasi in inventore delectus maiores autem nam architecto officia dignissimos eaque, velit, cupiditate doloremque aut repellat illo dolorum, impedit labore veniam iste esse unde quis? Odio, voluptas.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/10/20/w900X450/construction.jpg?w=400&dpr=2.6"
                        alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Hajipur-Completed Project!!!</h4><hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa ex sed eos nesciunt illo amet. Voluptatem, nulla, quia a maiores esse voluptates officiis, qui modi blanditiis quo porro facere amet delectus quaerat ipsum aperiam omnis! Nihil reprehenderit enim aliquam, assumenda consectetur rerum ipsa architecto officiis voluptatum earum atque dolorem placeat ad tenetur aspernatur, illum eaque laudantium, facere suscipit? Non cumque aspernatur corporis quasi in inventore delectus maiores autem nam architecto officia dignissimos eaque, velit, cupiditate doloremque aut repellat illo dolorum, impedit labore veniam iste esse unde quis? Odio, voluptas.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/10/20/w900X450/construction.jpg?w=400&dpr=2.6"
                        alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Hajipur-Completed Project!!!</h4><hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa ex sed eos nesciunt illo amet. Voluptatem, nulla, quia a maiores esse voluptates officiis, qui modi blanditiis quo porro facere amet delectus quaerat ipsum aperiam omnis! Nihil reprehenderit enim aliquam, assumenda consectetur rerum ipsa architecto officiis voluptatum earum atque dolorem placeat ad tenetur aspernatur, illum eaque laudantium, facere suscipit? Non cumque aspernatur corporis quasi in inventore delectus maiores autem nam architecto officia dignissimos eaque, velit, cupiditate doloremque aut repellat illo dolorum, impedit labore veniam iste esse unde quis? Odio, voluptas.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/10/20/w900X450/construction.jpg?w=400&dpr=2.6"
                        alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Hajipur-Completed Project!!!</h4><hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa ex sed eos nesciunt illo amet. Voluptatem, nulla, quia a maiores esse voluptates officiis, qui modi blanditiis quo porro facere amet delectus quaerat ipsum aperiam omnis! Nihil reprehenderit enim aliquam, assumenda consectetur rerum ipsa architecto officiis voluptatum earum atque dolorem placeat ad tenetur aspernatur, illum eaque laudantium, facere suscipit? Non cumque aspernatur corporis quasi in inventore delectus maiores autem nam architecto officia dignissimos eaque, velit, cupiditate doloremque aut repellat illo dolorum, impedit labore veniam iste esse unde quis? Odio, voluptas.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/10/20/w900X450/construction.jpg?w=400&dpr=2.6"
                        alt="">
                </div>
            </div>
            <div class="row my-3">
                <div>
                    <h4>Hajipur-Completed Project!!!</h4><hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
                </div>
                <div class="col-md-8">
                    <p class="project-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa ex sed eos nesciunt illo amet. Voluptatem, nulla, quia a maiores esse voluptates officiis, qui modi blanditiis quo porro facere amet delectus quaerat ipsum aperiam omnis! Nihil reprehenderit enim aliquam, assumenda consectetur rerum ipsa architecto officiis voluptatum earum atque dolorem placeat ad tenetur aspernatur, illum eaque laudantium, facere suscipit? Non cumque aspernatur corporis quasi in inventore delectus maiores autem nam architecto officia dignissimos eaque, velit, cupiditate doloremque aut repellat illo dolorum, impedit labore veniam iste esse unde quis? Odio, voluptas.</p>
                </div>
                <div class="col-md-4">
                    <img class="pro-img" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/10/20/w900X450/construction.jpg?w=400&dpr=2.6"
                        alt="">
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}