{% extends 'base.html' %}
{% block title %} Bricko Homes | Projects {% endblock %}
{% block content %}
<section style="font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
    <h3 style="text-align: center;font-size: 26px; ">CURRENT-PROJECTS</h3>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="" class="d-block w-100" alt="project image goes here">
            <div class="carousel-caption d-none d-md-block">
              <a href="{% url 'project-details'%}" class="hero-btn">Project Details</a>
            <h3>Project title goes here</h3>
            <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section style="font-family:Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica">
  <h3 style="text-align: center; font-size: 26px;">UP COMMING-PROJECTS</h3>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="" class="d-block w-100" alt="project image goes here">
          <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'project-details'%}" class="hero-btn">Project Details</a>
            <h3>Project title goes here</h3>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="" class="d-block w-100" alt="project image goes here">
          <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'project-details'%}" class="hero-btn">Project Details</a>
            <h3>Project title goes here</h3>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</section>

<section style="font-family:Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica">
<h3 style="text-align: center; font-size: 26px;">COMPLETED-PROJECTS</h3>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="" class="d-block w-100" alt="project image goes here">
      <div class="carousel-caption d-none d-md-block">
        <a href="{% url 'project-details'%}" class="hero-btn">Project Details</a>
        <h3>Project title goes here</h3>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="" class="d-block w-100" alt="project image goes here">
      <div class="carousel-caption d-none d-md-block">
        <a href="{% url 'project-details'%}" class="hero-btn">Project Details</a>
        <h3>First slide label</h3>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>
{% endblock %}