{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
  
    <section>
        <div style="color: black; font-weight: 600; background-color: white;">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/smart+house/smart+home-0.1.jpg"
                height="500px" width="100%" class="card-img" alt="...">
            <!-- <div class="card-img-overlay" style="margin-top: 25%; align-items: center;">
                <h5 class="card-title">Smart Homes</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div> -->
        </div>
    </section>
    <section>
        <div class="card-body mx-3">
            <h5 class="card-title">Smart living’s limitless possibilities that lie in our imagination</h5>
            <hr style="border: solid gray; border-width: 1px;">
            <p class="card-text">Fast, stable and reliable internet connections are becoming more important in the home
                as people rapidly integrate smart everyday physical objects, such as air conditioners, refrigerators and
                security cameras, which are embedded with sensors, software and other technology that can exchange data
                online, into their lives.
            </p>
            <h5>Technology helps spark smarter living</h5>
            <hr style="border: solid gray; border-width: 1px;">
            <p class="card-text">Intelligent refrigerators already keep an inventory of their contents and send out
                phone alerts when certain items are running low, while smart mirrors that keep stock of the clothes in
                your wardrobe, and make recommendations about what to wear when you are going out, are no longer a new
                concept.</p>
        </div>
    </section>
    <section>
        <div class="card mb-3" style="max-width: 1200px; padding: 10px; margin-left: 10px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/smart+house/smart+home-7.jpg"
                         height="300px" width="400px" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Best Smart Door Locks</h5>
                        <hr style="border: solid gray; border-width: 1px; margin-right: 5%;">
                        <p class="card-text">These days, almost everything can be connected to the internet, run, and
                            viewed. From our home appliances to our lighting, security, and heating systems, everything
                            is connected. In terms of design, technology, and functionality, smart locks have advanced
                            significantly, with many variants, now fitting in seamlessly with your home decor and even
                            adding a touch of digital style to your front door. With so many different input methods and
                            designs to choose from, we’ve compiled a list of our favourites right here for you. Take a
                            look at today’s guide to the best smart door locks on the market if you’re looking to
                            upgrade to a smart home.</p>
                        <!-- <p class="card-text">The majority of smart door locks will be operated by one of the following
                            systems:
                        <ul>
                            <li>
                                Radio Frequency Identification (RFID) – These involve the use of a key fob or card for
                                entry
                                and rely on radio waves from your key card to communicate directly with the lock,
                                allowing
                                entry.
                            </li>
                            <li>
                                Bluetooth – When you approach your house, these devices pair with your smartphone’s
                                Bluetooth ID to provide keyless, remote unlocking.
                            </li>
                            <li>
                                Z-Wave – This type of system uses a mesh network, which is made up of many devices that
                                communicate with one another, to open doors. If you have other smart technology in your
                                house, you can use Z-Wave technology to create a powerful network.
                            </li>
                        </ul>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1200px; padding: 10px; margin-left: 10px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/smart+house/Automatic+Coffee+Machine.jpg"
                        height="350px" width="400px" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Automatic Coffee Machine</h5>
                        <hr style="border: solid gray; border-width: 1px; margin-right: 5%;">
                        <p class="card-text">While walking through Best Buy the other day I was mildly surprised to see
                            a WiFi-enabled smart coffee machine. The coffee maker comes with an app that allows you to
                            schedule brews, monitor status, change settings, and receive notifications on Apple iOS and
                            Android devices. Does it help you make a better cup of coffee? I don’t know, but it will
                            send a notification to your phone when the water reservoir is empty.
                        </p>
                        <p class="card-text">This is an example of one of the monetization models for the internet of
                            things, where manufacturers add connectivity and remote device management to traditional
                            products and then add a premium to the price. It’s a traditional one-and-done sale that
                            gives companies the ability to get into the IoT marketplace quickly. It can also provide a
                            hook for future recurring consumption-based services, which is where the real money resides
                            in IoT.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1200px; padding: 10px; margin-left: 10px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/smart+house/Smart+Air+Conditioning.jpeg"
                         alt="..." height="350px" width="400px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Smart Air Conditioning</h5>
                        <hr style="border: solid gray; border-width: 1px; margin-right: 5%;">
                        <p class="card-text">Everyone has been there: you rock up to work and remember something. Your
                            stomach drops. You’ve left your air conditioner on. The consequences of such a slip-up,
                            however minor, will truly reveal themselves when your next power bill arrives!
                        </p>
                        <p class="card-text"> With a smart air conditioning system – the choice is yours! Most smart air
                            conditioning
                            systems will work wherever you have Internet. So if you get to work and remember that the
                            air con is on, no worries! Simply turn it off and get back to work. Alternatively, on those
                            really hot days, you can turn your air con on remotely as you’re leaving work. Nothing says
                            home like the perfectly cool temperature on a hot summer’s day!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1200px; padding: 10px; margin-left: 10px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/smart+house/smart+home-2.jpg"
                      height="250px" width="400px" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Light and room control and the Internet of Things</h5>
                        <hr style="border: solid gray; border-width: 1px; margin-right: 5%;">
                        <p class="card-text">Light & Room Control EcoXperts operate in both home automation and small &
                            medium building automation.
                        </p>
                        <p class="card-text"> A main scope of IoT for light and room control is home automation with
                            endless applications in the present and a near future: from heating or air conditioning
                            control to lighting control, reinforced by the LED revolution, to all possible applications
                            which fit end customer needs</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}