{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}

      <section>
        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/sustainablity/sustainablity.jpeg" height="400px" width="100%" alt="...">
      </section>
      <section style="font-family:  Open Sans ; color: black;">
          <div style="margin-left: 75%; margin-top: 10px;">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
            </svg></a>
            <a>/Our Commitment /</a>
            <a>Sustainability</a>
          </div>
      </section><hr style="border: solid gray; margin-left: 50px; border-width: 1px; margin-right: 10px;">
      <section style="font-family: Open Sans ;color: black;">
          <div>
            <!-- <div class="vl"></div> -->
              <h4>Sustainability</h4>
          </div>
          <div class="sustain-discription">
              <p>
                We offer our top clients the best in terms of superior quality, quantity, safety, functionality, and punctuality as we ensure to deliver the work on time. We take pride in being one of the best Construction Companies in Patna and work towards maintaining our reputation. Our company's team is currently working on different projects of various types of construction in government or semi-government department business. Our team has helped all the projects in our portfolio in a well-delineated way so that it can be clearly understood that everything from a small-scale refurbishment job to a complex operation can operate with utmost perfection. Moreover, our dedication towards work and ability to deliver flawless work has made us by far one of the best construction companies in Patna.
              </p>
              <p>Focus Area</p>
              <ul class="sustain-list">
                  <li>
                    Sustainability Reporting
                  </li>
                  <li>
                    Water
                  </li>
                  <li>
                    Disaster Relief  
                </li>
                <li>
                    HIV/AIDS awareness  
                </li>
                <li>
                    Community initiatives   
                </li>
                <li>
                    Environment 
                </li>
                <li>Education</li>
              </ul>
          </div>
      </section>
      
    <section style="font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica; color: black">
        <div class="card">
            <div class="row"> 
                <div class="col-md-9">
                    <div class="sustain-details-card" style="margin-top: 5px;">
                        <h5>Sustainability Reporting</h5><hr style="border: solid gray; margin-left: -1px; border-width: 1px; margin-right: 90px;">
                        <p>Every year Bricko Homes submits a report titled' Responsible Infrastructure' that reflects the continued progress Bricko Homes has made towards fulfilling its sustainability goals of achieving water neutrality, minimizing construction waste, zero-reportable injuries for employee health and safety</p>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/sustainablity/sustainablity+report.jpeg" height="170px" width="100%" alt=""> 
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="sustain-details-card">
                        <h5>Water</h5><hr style="border: solid gray; margin-left: -1px; border-width: 1px; margin-right: 90px;">
                        <p>We at Bricko Homes understand the importance of Water conservation and hence endeavour for effective adoption of the 4 R’s (Reduce, Reuse, Recycle and Replenish) at all the projects.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/sustainablity/water+sus.jpeg" height="170px" width="100%" alt=""> 
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="sustain-details-card">
                        <h5>Disaster Relief </h5><hr style="border: solid gray; margin-left: -1px; border-width: 1px; margin-right: 90px;">
                        <p>As the founder member of the Disaster Resource Partnership (DRP) formed in the World Economic Forum in 2004, Bricko Homes ensures that the core strengths and existing capacities of the Infrastructure and Urban Development community are mobilized during and after crisis to reduce suffering and save lives</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/sustainablity/diasister.jpg" height="170px" width="100%" alt=""> 
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="sustain-details-card">
                        <h5>Covid/Other Disease awareness</h5><hr style="border: solid gray; margin-left: -1px; border-width: 1px; margin-right: 90px;">
                        <p>Bricko Homes's HIV/AIDS awareness programme aims to sustain optimal workplace productivity by conducting prevention, education and awareness training and reduce the spread of new infections. Bricko Homes formulated the HIV/AIDS Workplace Policy and adopted a Workplace Intervention Programme (WPI)</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/sustainablity/covid.png" height="170px" width="100%" alt=""> 
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="sustain-details-card">
                        <h5>Community initiatives</h5><hr style="border: solid gray; margin-left: -1px; border-width: 1px; margin-right: 90px;">
                        <p>Bricko Homes has traditionally been contributing to communities in and around its project sites, with an objective of providing services that will improve their quality of life.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/sustainablity/community.jpg" height="170px" width="100%" alt=""> 
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="sustain-details-card">
                        <h5>Environment</h5><hr style="border: solid gray; margin-left: -1px; border-width: 1px; margin-right: 90px;">
                        <p>Every year Bricko Homes submits a report titled' Responsible Infrastructure' that reflects the continued progress Bricko Homes has made towards fulfilling its sustainability goals of achieving water neutrality, minimizing construction waste, zero-reportable injuries for employee health and safety</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/sustainablity/environmental-.jpg" height="170px" width="100%" alt=""> 
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="sustain-details-card">
                        <h5>Education</h5><hr style="border: solid gray; margin-left: -1px; border-width: 1px; margin-right: 90px;">
                        <p>Mr. Rajeev Ranjan, MD, Bricko Homes has taken the lead in ideating new concepts for investment in technical education and skills enhancement.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/sustainablity/EDUCATION-text.jpg" height="170px" width="100%" alt=""> 
                </div>
            </div>
        </div>
    </section>

{% endblock %}