
{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
<section style="font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
    <h3 style="text-align: center; font-size: 26px;">UPCOMING-PROJECTS</h3>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
          <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/project/project+page.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'project-details'%}" class="hero-btn">Project Details</a>
            <h5>Project name goes here</h5>
            <p>Small description about project</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/project/project+page.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <a href="" class="hero-btn">Project Details</a>
            <h5>Project Name goes here</h5>
            <p>Small description about project</p>
          </div>
        </div>
        
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  {% endblock %}