*{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Montserrat, Roboto, Playfair Display,lato,Merriweather,Helvetica;
}
p{
    font-size:17px;
}
.design-image{
    border-radius: 20px;
    /* height:250px; */
    width: 100%;
    transition: 1s ease;
}
.design-image:hover{
    border-radius:50%;
    transition: 1s ease;
}

.design-card{
    /* Add shadows to create the "card" effect */
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .design-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  /* a:link {
    color: black!important;
    text-decoration:none!important;
  } */
  .container a{
      color: black;
      text-decoration: none;
  }
  .container a:hover{
    color: black;
}
span a{
    color: black;
    text-decoration: none;
}

.navbartop{
    overflow: hidden;
    margin-top: 20px; 
    margin-left: 65px;   
    color: black;
}
.navbartop a{
    /* float: center; */
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px; 
    margin-bottom: 0;
   
}
.navbartop a:hover{
    color: red;
}
.navbartop a.active{
     color: red;
     
}

.Quotebtn{
    color: black !important;
    background-color: #d1cfe2;
    margin-top: 10px;
    /* margin-left:250px;  */
    border-radius:20px solid black!important;
    outline-color: black!important;
    border: 2px;
}
.Quotebtn:hover{
    color: red;
    background-color: #daeaf6!important;  
   
}
/* img:hover {
    transform: scaleX(-1);
  } */
  .living-text{
      margin-left:10px;
      margin-top: 5px;
  }



