*{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Montserrat, Roboto, Playfair Display,lato,Merriweather,Helvetica;
}
p{
    font-size:17px;
}
.design-image1{
    border-radius: 20px;
    height: 580px;
    width: 100%;
    transition: 1s ease;
    
}
.design-image1:hover{
    -webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}
.living-hr{
    margin-top: 0px !important;
}
 