*{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;
}
h4{
  font-size: 26px;
}
p{
  font-size: 17px;
}
.home-design{
  color:black; 
  font-weight: 600; 
  background-color: #daeaf6; 
  opacity: 0.8;
  
}
*{
    margin: 0;
    padding: 0;
    

}

.sustain-commitment{
    margin-top: 10px;
    margin-left: 78%;
}
h4{
    margin-left: 60px;
}
.vl {
    border-left: 8px solid rgb(105, 1, 100);
    height: 25px;
    position: absolute;
    margin-left: 50px;
    top: 525px;
  }
  .project-discription{
      margin-left: 50px;
      padding: 5px;
      margin-right: 40px;    
  }
  .pro-img{
    margin-right: 5px;
    height: 300px;
    width: 100%;
  }
  
  /* .pro-page{
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    margin-left: 50px;
    font: 500;
  } */
  /* .project-main{
    display: grid;
    gap: 1rem;
  } */

  
  

 
 
  