.career-option{
    margin: 0;
    font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;
}
.sustain-commitment{
    margin-top: 10px;
    margin-left: 78%;
}
h4{
    margin-left: 60px;
    font-size: 26px;
}
p{
    font-size: 17px;
}

.vl {
    border-left: 8px solid #daeaf6 !important;
    height: 25px;
    position: absolute;
    margin-left: 50px;
    top: 616px;
  }
  .sustain-discription{
      margin-left: 50px;
      padding: 3px;
      margin-right: 40px;
  }
  
  .form{
    margin-left: 50px;
    margin-right: 30px;
    
  }
  .button{
      margin-left: 50%;
  }

 