*{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Montserrat, Roboto, Playfair Display,lato,Merriweather,Helvetica;
}
.city-interior-img{
    width: 100%;
    height: 620px;
    /* opacity: 0.8; */
}
/* Top left text */
/* .top-left {
    color: white;
    position: absolute;
    top: 130px !important;
    left: 10%;
    z-index: 1.5;
  } */
  span a{
    color: black;
    text-decoration: none;
}
.information{
    margin-left: 100px;
    margin-top: 20px;
    /* background-color: #d1cfe2; */
    display: flex;
}
.vaccine-report-img{
    margin-top: 100px;
    margin-left: 250px;
}
.buttn{
    background-color:#f1f1f1;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 18px;
    margin-left: 250px;
    margin-top: 60px;
}
.buttn:hover{
background-color: #d1cfe2;
color: black;
border-radius: 16px;
}
.buttn a{
text-decoration: none!important;
list-style: none!important;
color: black!important;
}

.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 16px;
  }
  .top-left1 {
    position: absolute;
    top: 10px;
    left: 16px;
  }
  .eco{
    background-color:#d1cfe2;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 18px;
  }

  .eco-img:hover{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  }
  .o-location{
    display: flex;
  }
  /* Style the button that is used to open and close the collapsible content */
  .collapsible {
    background-color: #d1cfe2;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* .active, .collapsible:hover {
    background-color: #d1cfe2;
  } */
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }



  .navbartop{
    overflow: hidden;
    margin-left: 50px;   
    color: black;
}
.navbartop a{
    /* float: center; */
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 15px; 
    margin-bottom: 0;
   
}
.navbartop a:hover{
    color: red;
}
.navbartop a.active{
     color: red;
     
}
/*-----------------------*/
  /* .centere {
    position: absolute;
    top: 1090% ;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttn-l{
    background-color:#f1f1f1;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 18px;
    margin-left: 230px;
    margin-top: 50px;
}
.buttn-l:hover{
background-color: #d1cfe2;
color: black;
border-radius: 16px;
}
.buttn-l a{
text-decoration: none!important;
list-style: none!important;
color: black!important;
} */