body {
  font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;
  margin: 0;
}
h3{
  font-size: 26px;
}
p{
  font-size: 17px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.body-card {
  box-shadow: 0 4px 8px 0 ;
  margin: 5px;
  padding: 5px;
}
.body-cardheader{
  text-align:center; 
  font-size: 2rem;
}
.body-cardpara{
  text-align: left;
  padding:   3px;
}

.container1 {
  position: relative;
  text-align: center;
  color: black;
  font-size:26px;
}
.img2{
opacity:0.5;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container {
  padding: 0 10px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

/* .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
} */

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
