*{
  margin: 0;
  padding: 0;
  font-family: Open Sans, Montserrat, Roboto, Playfair Display,lato,Merriweather,Helvetica;
}
p{
  font-size:17px;
}
.interior-section{
margin: left;
}
.design-image{
  border-radius: 20px;
  height:250px;
  width: 100%;
}
.design-card{
  /* Add shadows to create the "card" effect */
  border-radius:20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
span a{
  color: black;
  text-decoration: none;
}

/* On mouse-over, add a deeper shadow */
.design-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* a:link {
  color: black!important;
  text-decoration:none!important;
} */
.container a{
    color: black;
    text-decoration: none;
}
.container a:hover{
  color: black;
}