.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding top: 100px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
@media  (max-width: 700px) {
    .row{
        flex-direction: column;
    }
    .course-col{
        flex-direction: column;
    }
  }
.course-col{
    flex-basis: 31%;
    /* background: purple; */
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    font-size: 26px;
    text-align: center;
    font-weight: 100;
    margin: 10px 0;
    color: black;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(134, 119, 119);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
}
.hero-btn:hover{
    background: #7ec4cf;
    border: 3px solid #617375;
    transition: 1s;
}

/* ----------------collaps--------------------- */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #d1cfe2;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    margin-top: 12px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #d4afb9;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #d1cfe2;
    text-align: left;
    font-size: 17px
  }
 
  /* @media (max-width: 1200px) {
    .course-col {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }
 @media (max-width: 1000px) {
    .course-col {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }
 @media (max-width: 800px) {
    .course-col {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }
 @media (max-width: 400px) {
    .course-col{
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 } */
  
  