*{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Montserrat, Roboto, Playfair Display,lato,Merriweather,Helvetica;
}
.package-head{
    text-align: center;
}
/* .package-title{
    font-size: 30px;
} */
.package-price{
    font-size: 40px;
}
.buttn{
    background-color:#f1f1f1;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 40px;
}
.buttn:hover{
background-color: #d1cfe2;
color: black;
border-radius: 16px;
}
.buttn a{
text-decoration: none!important;
list-style: none!important;
color: black!important;
}