h3{
    font-size: 26px;
}
h5{
    font-size: 20px;
}
p{
    font-size: 17px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 3px solid gray;
    padding: 12px 34px;
    font-size: 24px;
    font-weight: 600;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 5%;
    

}
.hero-btn:hover{
    background: #d4afb9!important;
    border: 3px solid gray;
    transition: 1s;
}