*{
    margin: 0;
    padding: 0;
    font-family: Open Sans;

}

.sustain-commitment{
    margin-top: 10px;
    margin-left: 78%;
}
h4{
    margin-left: 60px;
    font-size: 26px;
}

p{
    font-size: 17px;
}
.vl {
    border-left: 8px solid #6fb8f0;
    height: 25px;
    position: absolute;
    margin-left: 50px;
    top: 615px;
  }
  .project-discription{
      margin-left: 50px;
      padding: 5px;
      margin-right: 40px;    
  }
  .pro-img{
    margin-right: 5px;
    height: 300px;
    width: 100%;
  }