/* Header/logo Title */


/* .header {
    padding: 5px;
    text-align: ;
    background: #1abc9c;
    color: white;
} */
h3{
    font-size: 26px;
}
p{
    font-size: 17px;
}
.carousel-image {
    height: 600px;
    width: 100%;
}

.body-head {
    height: 100px;
    line-height: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.cost-calculator {
    border: 2px solid;
    padding: 10px;
    box-shadow: 6px 4px 8px -2px;
}

.fusion-sep-clear {
    clear: both;
    display: block;
    height: 1px;
    font-size: 0;
    line-height: 0;
    width: 100%;
}

a:link {
    text-decoration: under;
}

a:hover {
    text-decoration: none;
}


/* flip-card css down here */

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 60vh;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 gray;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    color: black;
}

.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.div-box-radius{
    border: 5px solid gray;
    border-radius: 25px;
}