

h4{
    margin-left: 60px;
    
}
h5{
    font-size: 26px;
}
p{
    font-size: 17px;
}

.vl {
    border-left: 8px solid #6fb8f0;
    height: 25px;
    position: absolute;
    margin-left: 50px;
    top: 616px;
  }
  .sustain-discription{
      margin-left: 50px;
      padding: 5px;
      margin-right: 40px;
  }
  .sustain-list{
      margin-left: -15px;
      margin-top: -5px;
  }
  .sustain-details-card{
      margin-left: 10px;
   
  }
  .card{
    margin-left: 60px;
    max-width: 85%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px #04263f;
    background-color: white;
  }

 