{% load static %}

<html lang="en">

<head>
    <title>{% block title %}Bricko Homes{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bricko Homes, One of the Top Leading Construction Company in Bihar is Ready to Build your Dream Houses, Apartments, Offices, Hotels e.t.c">
    <meta name="keywords" content="Construction Company, Top 10 Construction Company, Best Construction Company, Construction Company in Bihar">
    <meta name="author" content="Rajeev Ranjan">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'site.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'slider.css' %}">
    <link rel="stylesheet" href="{% static 'event.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'package.css'%}"> -->
    <link rel="stylesheet" href="{% static 'package1.css'%}">
    <link rel="stylesheet" href="{% static 'company.css'%}">
    <link rel="stylesheet" href="{% static 'project.css'%}">
    <link rel="stylesheet" href="{% static 'sustain.css'%}">
    <link rel="stylesheet" href="{% static 'carrer.css'%}">
    <link rel="stylesheet" href="{% static 'project-details.css'%}">
    <link rel="stylesheet" href="{% static 'Architecher-page.css'%}">
    <link rel="stylesheet" href="{% static 'smarthouse.css'%}">
    <link rel="stylesheet" href="{% static 'homes-design.css'%}">
    <link rel="stylesheet" href="{% static 'material.css'%}">
    <link rel="stylesheet" href="{% static 'city.css'%}">
    <link rel="stylesheet" href="{% static 'architecture/design-inner.css'%}">
    <link rel="stylesheet" href="{% static 'architecture/inner-detail-page.css'%}">
    
    <script src="{% static 'slider.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body style="background-color: white; font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
    <!-- {% include 'header.html'%} -->
    {% include 'nav.html' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html'%}
    
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
    </script>