{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
<style>
    .form-label {
        font-size: 18px;
        color: black;
    }
    
    .box {
        border-radius: 150px;
    }
</style>
<form action="{% url 'get-quotation'%}" method="post">
    {% csrf_token %}
<section class="box" style="font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica; background-color: #daeaf6;">
   
        <div class="container p-3 col-md-6">
            <h3 style="text-align:center; font-size: 26px;">
                Get A Free Estimate
            </h3>
            {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
            {% endif %}
             
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col">
                            <div class="form-outline">
                                <span class="form-label" for="form3Example1" style="font-family: Open Sans;">Name</span>
                                <input type="text" name="_name" class="form-control required" required />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col">
                            <div class="form-outline">
                                <span class="form-label" for="form3Example1" style="font-family: Open Sans;">Mobile</span>
                                <input type="number" name="_mobile" value="+91 " class="form-control required" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col">
                            <div class="form-outline my-3">
                                <span class="form-label" for="form3Example1" style="font-family: Open Sans;">Email</span>
                                <input type="email" name="_email" class="form-control required" required />
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="col">
                            <div class="form-outline my-3">
                                <span class="form-label" for="form3Example1" style="font-family: Open Sans;">Plot Breadth</span>
                                <input type="number" name="_plot_breadth" class="form-control required" required/>
                                <div class="Quotation text-dark" style="font-size:13px;">
                                    In feet
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col">
                            <div class="form-outline my-3">
                                <span class="form-label" for="form3Example1" style="font-family: Open Sans;">Plot Length</span>
                                <input type="number" name="_plot_length" class="form-control required" required />
                                <div class="Quotation text-dark" style="font-size:13px;">
                                    In feet
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col">
                            <div class="form-outline my-3">
                                <span class="form-label" for="form3Example1" style="font-family: Open Sans;">Plot Location</span>
                                <!-- <input type="text" name="_plot_location" class="form-control required" required/> -->
                                <select name="_plot_location" id="location"  style="height: 38px; width: 280px;">
                                    <option value="none">-None-</option>
                                    <option value="Patna Urban">Patna Urban</option>
                                    <option value="Patna Rural">Patna Rural</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <div class="col my-3">
                    <span class="mx-2 my-3 form-label" for="form3Example1" style="font-size: 18px; font-family: Open Sans;">Enquiry For:</span>
                    <select name="floors" id="floor"  style="height: 40px; width: 235px;">
                        <option value="none">-None-</option>
                        <option value="Ground Floor only">Ground Floor only</option>
                        <option value="Under Basement + Floor">Under Basement + Floor</option>
                        <option value="Ground Floor + 1"><a herf="#">Ground Floor + 1</a></option>
                        <option value="Ground Floor + 2">Ground Floor + 2</option>
                        <option value="Ground Floor + 3">Ground Floor + 3</option>
                        <option value="Ground Floor + 4">Ground Floor + 4</option>
                        <option value="Interior Kitchen">Interior Kitchen</option>
                        <option value="interior Living room">Interior Living Room</option>                        
                        <option value="interior Master room">Interior Master bedroom</option>
                        <option value="Wardrobe">Wardrobe</option>
                        <option value="Interior Dining room">Interior Dining Room</option>                       
                        <option value="interior kids bedroom">Interior Kid's bedroom</option>
                        <option value="Interior Bathroom">Interior Bathroom</option>                       
                    </select>
                </div>
            </div>
            <div class="my-3 mx-2 d-grid gap-2">
                <!-- <button class="btn btn-outline-warning text-dark" type="button">Reset</button> -->
                <button class="btn btn-primary" type="submit">Get A Free Quote</button>
            </div>
        </div>
</section>
</form>
<section>
    {% include 'main/design-trends.html' %}
    <!-- {% include 'package.html' %} -->
</section>
{% endblock %}