<!-- <br>
<section style="font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
    <article id="slider">
        <div>
        </div>
        <input checked type='radio' name='slider' id='slide1' />
        <input type='radio' name='slider' id='slide2' />
        <input type='radio' name='slider' id='slide3' />
        <input type='radio' name='slider' id='slide4' />
        <input type='radio' name='slider' id='slide5' />
        <div id="slides">
            <div id="container">
                <div class="inner">
                    <article>
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/event/even4.jpg" />
                    </article>
                    <article>
                        <div class='caption'>
                            <bar>Event Name</bar>
                        </div>
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/event/even5.jpg" />
                    </article>
                    <article>
                        <div class='caption'>
                            <bar>Event Name </bar>
                        </div>
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/event/even6.jpg" />
                    </article>
                    <article>
                        <div class='caption'>
                            <bar>Event Name </bar>
                        </div>
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/event/even7.jpg" />
                    </article>
                    <article>
                        <div class='caption'>
                            <bar>Event Name</bar>
                        </div>
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/event/even8.jpg" />
                    </article>
                </div>
            </div>
        </div>
        <div id="commands">
            <label for='slide1'></label>
            <label for='slide2'></label>
            <label for='slide3'></label>
            <label for='slide4'></label>
            <label for='slide5'></label>
        </div>
        <div id="active">
            <label for='slide1'></label>
            <label for='slide2'></label>
            <label for='slide3'></label>
            <label for='slide4'></label>
            <label for='slide5'></label>
        </div>
    </article>
</section> -->