{% load static %}

<footer class="footer" style="background-color: #daeaf6;">
    <div class="footer__addr">
      <h1 class="footer__logo" style="color: black;">Bricko Homes</h1>
          
      <h2>Contact : +91 9546123243</h2>
      
      <address>
        <p>JF 2/20, BLOCK-4, RAJENDRA NAGAR, PATNA, BIHAR-800016</p><br>
      </address>
      <label for="email">Email :</label><a href="mailto:example@gmail.com"> rsujjn@gmail.com</a>
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title" style="color: black;">Projects</h2>
        <hr>
  
        <ul class="nav__ul">
          <li>
            <a href="{% url 'current' %}">Current</a>
          </li>
  
          <li>
            <a href="{% url 'upcoming' %}">Comming soon</a>
          </li>
              
          <li>
            <a href="{% url 'completed' %}">Completed</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title" style="color: black;">Bricko Homes Services</h2>
        <hr>
        
        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="{% url 'home-design' %}">House Design</a>
          </li>
          
          <li>
            <a href="{% url 'material-page' %}"> Kitchen Design</a>
          </li>

          <li>
            <a href="{% url 'material-page' %}"> Materials</a>
          </li>

          <li>
            <a href="{% url 'material-page' %}"> Interior</a>
          </li>
          
          <li>
            <a href="{% url 'architecture-page' %}">Architecture</a>
          </li>
          
          <li>
            <a href="{% url 'smart-house-page' %}">Smart Homes</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title" style="color: black;">Legal</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms of Use</a>
          </li>
          
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; 2021 Bricko Homes. All rights reserved.</p>
      
      <div class="legal__links">
        <p class="text-secondary">Made with <span class="heart" style="color:red">♥</span> PyMonk</p>
      </div>
    </div>
  </footer>