<section>
    <div class="header p-1" style=" color:black; background-color:  #d4afb9;">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-dark"><b>Registration No : xxxxxxxxxxxxxxxx</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark"><b>Est. Year : 2021</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" aria-current="page"><b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                  </svg> &nbsp; :&nbsp; {{footer.email}}</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark"><b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                  </svg>&nbsp; : &nbsp; +91 {{ footer.contact_number}}</b></a>
            </li>
            <li class="nav-item" >
                <a href="{% url 'admin:login'%}" class="btn btn-outline-secondary nav-link text-dark "> <b>Admin Login</b></a>
            </li>
        </ul>
    </div>
</section>