{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}
<!--start module information-->
<center>
    {% include 'slider.html'%}
    <!----------------------------body paragraph start--------------------------------->
    <section class=" text-dark"
        style="border: 2px solid white; border-radius: 20px; font-family: Open Sans; background-color: #daeaf6;">
        <h3 class="body-head text-center text-black ">
            <p style="font-size: 26px;">
                You Dream It, We Build It 
                <!-- {{body.section_title | safe}} -->
            </p>
        </h3>

        <div class="container ">
            <p class="my-2" style="text-align: justify; font-family: Open Sans; font-size: 17px;">Are you looking for a
                good flat or apartment? If yes then, the <b>Bricko Homes</b> is one of the most reputed and well-recognized
                construction companies in Patna. Here we are over the years with a vision to become a better <b>top
                construction company in Patna</b> to help our clients to convert their ideas into a wonderful infrastructure
                and at the same time, we are employing one of the best methods to convert into the best infrastructure.
            </p>
            <p class="my-2" style="text-align: justify; font-family: Open Sans; font-size: 17px;">
                Furthermore, not only that, we are the no. 1 construction agency with a vision to provide the best to our trusted clients. All our customers are very satisfied with the quality and consistency of our good work. Hence, we are gradually developing as a top construction company in Patna Bihar, it’s based on our client’s ratings.
We offer our top clients the best in terms of superior quality, quantity, safety, functionality, and punctuality as we ensure to deliver the work on time. We take pride in being one of the best Construction Companies in Patna and work towards maintaining our reputation. Our company's team is currently working on different projects of various types of construction in government or semi-government department business. Our team has helped all the projects in our portfolio in a well-delineated way so that it can be clearly understood that everything from a small-scale refurbishment job to a complex operation can operate with utmost perfection. Moreover, our dedication towards work and ability to deliver flawless work has made us by far one of the best construction companies in Patna.
Providing best services offered by Bricko Homes Team 
residential flats in Patna
best 3bhk flats in Patna
top-class apartments in Patna
buy independent floors 
So, if you are you Confusing in your search for a good residential apartment? So there is no need to worry at all. We provide a free consultation to help you make a better and best decision with the creativity and quality that you deserve.

            </p>
        </div>
    </section>
    <br>
    <!----------------------------body paragraph end--------------------------------->

    <section>
        <div class="container center">
            <a href="{% url 'get-quotation'%}" style="text-decoration:none;">
                <p class="cost-calculator text-center text-dark fs-5" style=" font-family: Open Sans;"><b>GET A ESTIMATE
                        COST</b></p>
            </a>
        </div>
    </section>
    <!----------------------------- body container srart ---------------------------->
    <section class="text-dark" style="font-family: Open Sans;">
        <div class="container text-dark">
            <h3 class="text-center p-4 text-black" style="font-size: 26px;">All Construction Needs Under One Roof</h3>
            <center>
                <hr width="40%;" style="color:black; height: 0.3em;">
            </center>
            <p class="text-center" style="font-size: 17px;">Bihar's Top Construction Professionals.</p>
            <p class="text-center" style="font-size: 17px;">We are a team of licensed & reputed architects, contractors,
                interior designers & renovators.</p>
        </div>
        {% include 'team.html'%}
    </section>
    <!------------------------------ flip-card section---------------------------------------->

    {% include 'news-slider.html'%}
    {% include 'main/choose-us.html' %}
    {% include 'main/press.html' %}
    {% include 'package1.html' %}
    {% include 'main/design-trends.html' %}
    {% include 'testimonial.html'%}
</center>
{% endblock %}