{% load static %}
<style>
    .speak:hover{
        background-color: #daeaf6 !important;
    }

</style>
<section>
    <nav class="navbar navbar-expand-lg navbar-light"
        style="color:black;  font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica; font-size: 0.9rem; font-weight: 600;">
        <div class="container-fluid">
            <a class="navbar-brand mx-3" href="/">
                <img src="https://construction-static.s3.ap-south-1.amazonaws.com/site-cofig/Bricko_homes_logo/Bricko+Homes+Logo_Test.png" alt="Bricko Homes" height="inherit" width="200px" srcset="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'company' %}">Our Company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'join' %}">Join Us</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'expert' %}">Experties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project' %}">Projects</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sustainability' %}">Sustainability</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patna-rural' %}">City</a>
                    </li>
                    
                    <li>
                        <li class="nav-item" >
                            <a href="{% url 'consult-now'%}" class="btn btn-outline text-dark speak" style="border-radius: 24px; background-color: #d1cfe2;"> <b>CONSULT ONLINE NOW</b></a>
                        </li>
                    </li>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
</section>