<section style=" font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
<br>
<!-- <h3 class="text-black">Our Projects</h3> -->
<section class="slider-pages">
  <article class="js-scrolling__page js-scrolling__page-1 js-scrolling--active">
    <div class="slider-page slider-page--left">
      <div class="slider-page--skew">
        <div class="slider-page__content">
        </div>
      </div>
    </div>
    <div class="slider-page slider-page--right">
      <div class="slider-page--skew">
        <div class="slider-page__content">
          <h3 class="slider-page__title slider-page__title--big">
            House Construction
          </h3>
          <h3 class="slider-page__title">
            Villa, Apartment, Resort, Individual House, Farm House etc.
          </h3>
          <!-- /.slider-page__title -->
          <p class="slider-page__description">
            Please scroll down or press the down arrow on your keyboard
          </p> 
        </div>
      </div>
    </div>
  </article>
  <!-- /.js-scrolling__page js-scrolling__page-1 js-scrolling--active -->


  <article class="js-scrolling__page js-scrolling__page-2">
    <div class="slider-page slider-page--left">
      <div class="slider-page--skew">
        <div class="slider-page__content">
          <h3 class="slider-page__title">
            Interior
          </h3>
          <p class="slider-page__description">
            Bed Room, Common Room, Office, Pooja Room and more
          </p>

        </div>
        
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--left -->

    <div class="slider-page slider-page--right">
      <div class="slider-page--skew">
        <div class="slider-page__content">
        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--right -->
  </article>
  <!-- /.js-scrolling__page js-scrolling__page-2 -->


  <article class="js-scrolling__page js-scrolling__page-3">
    <div class="slider-page slider-page--left">
      <div class="slider-page--skew">
        <div class="slider-page__content">
        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--left -->

    <div class="slider-page slider-page--right">
      <div class="slider-page--skew">
        <div class="slider-page__content">
          <h3 class="slider-page__title">
            Kitchen Design
          </h3>
          <!-- /.slider-page__title -->
          <p class="slider-page__description">
            All types of Kitchen Interior.
          </p>
          <!-- /.slider-page__description -->
        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--right -->
  </article>
  <!-- /.js-scrolling__page js-scrolling__page-3 -->

</section>
<!-- /.slider-pages -->
</section>