    <section>
      <br>
      <h5 class="package-head">Construction Packages</h5>
        <div class="container" style="text-align: center; margin-top: 70px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <div class="card-body" style="background-color: #d1cfe2;">
                  <h5 class="package-title">BUDGET PACKAGE</h5>
                  <i class="fa fa-inr" style="font-size:20px"></i><span class="package-price"><b>1459</b></span><span>sq/ft</span>
                </div>
              </div>
              <!-- <a href="" class="buttn" type="button">Get a Custom Quote</a> -->
              <a href="{% url 'consult-now'%}" class="btn btn-outline text-dark speak my-4" style="border-radius: 24px; background-color: #d1cfe2; margin-left: 20px;"> <b>GET A CUSTOM QUOTE</b></a>
            </div>

            <div class="col">
              <div class="card">
                <div class="card-body" style="background-color: #d1cfe2;">
                  <h5 class="package-title">CLASSIC PACKAGE</h5>
                  <i class="fa fa-inr" style="font-size:20px"></i><span class="package-price"><b>1659</b></span><span>sq/ft</span>
                </div>
              </div>
              <!-- <a href="" class="buttn" type="button">Get a Custom Quote</a> -->
              <a href="{% url 'consult-now'%}" class="btn btn-outline text-dark speak my-4" style="border-radius: 24px; background-color: #d1cfe2; margin-left: 30px;"> <b>GET A CUSTOM QUOTE</b></a>
            </div>

            <div class="col">
              <div class="card">
                <div class="card-body" style="background-color: #d1cfe2;">
                  <h5 class="package-title">PREMIUM PACKAGE</h5>
                  <i class="fa fa-inr" style="font-size:20px"></i><span class="package-price"><b>1959</b></span><span>sq/ft</span>
                </div>
              </div>
              <!-- <a href="{% url 'get-quotation' %}" class="buttn" type="button">Get a Custom Quote</a> -->
              <a href="{% url 'consult-now'%}" class="btn btn-outline text-dark speak my-4" style="border-radius: 24px; background-color: #d1cfe2; margin-left: 30px;"> <b>GET A CUSTOM QUOTE</b></a>
            </div>
           
          </div>
        </div>
        <br>
    </section>