<section style="font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
        <div class="row">
            <div class="course-col">
                <h3>BASIC &nbsp; PACKAGE</h3>
                <a href="{% url 'get-quotation'%}" class="hero-btn"><b>Get A Quote</b></a>
                <button type="button" class="collapsible">Design & Drawing</button>
                <div class="content">
                    <ul>
                        <li>2D Floor Plans</li>
                        <li>2D Elevations</li>
                        <li>Structural Designing</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Core Constructio Matrial</button>
                <div class="content">
                    <ul>
                        <li>Steel: Fe500 Grade Tmt – Kamadhenu Or Meenakshi Or Equivalent Brand</li>
                        <li>Cement: 53 & 43 Grades Of Penna/Priya/Dalmia/Maha Or Equivalent Brand</li>
                        <li>Concrete Mix: Rmc – M20 Grade</li>
                        <li>Solid Blocks – 6″ & 4″ Inches</li>
                        <li>Aggregates: 20Mm & 40Mm</li>
                        <li>M-Sand: Blockwork & P-Sand: Plastering</li>
                        <li>Underground Sump In 6″ Inches Solid Block & Waterproof Plastered</li>
                        <li>Two-Course Of Size Stone Masonry Under Plinth</li>
                        <li>Ceiling Height: 10 Feet</li>
                        <li>Waterproofing: Dr Fixit Or Fosroc</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Architecture Detailing</button>
                <div class="content">
                    <ul>
                        <li>Working Drawings For Execution</li>
                        <li>Schedule Of Openings</li>
                        <li>Sectional Drawings</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Flooring & Wall Tiling</button>
                <div class="content">
                <ul>
                        <li>Living, Kitchen, Dining & Bedroom Upto Rs 50/- Per Sqft</li>
                        <li>Staircase – Granite Upto Rs 70/- Per Sqft</li>
                        <li>Balconies & Sitout Areas – Anti Skid Tiles Upto Rs 40/- Per Sqft</li>
                        <li>Bathroom/Toilet Wall & Flooring Upto Rs 40/- Per Sqft</li>
                        <li>Parking Floor Upto Rs 35/- Per Sqft</li>
                        <li>Kitchen Countertop Upto Rs 100/- Per Sqft</li>
                        <li>Kitchen Dadoing Upto 4 Feet With Tiles Rs 40/- Per Sqft</li>
                        <li>Bathroom Dadoing Or Wall Tiling Height Upto 7 Feet Height</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Painting</button>
                <div class="content">
                <ul>
                        <li>Wall & Ceiling – 2 Coats Of Putty + 1 Coat Of Primer & Painted With 2 Coats Of Asian Tractor Emulsion</li>
                        <li>Exterior Walls: 1 Coat Primer + 2 Coats Of Ace Emulsion</li>
                        <li>2 Coats of Enamel Paint For The Windows MS Grills Only</li>
                        <li>Brands Considered Are Asian/Berger/Dulux As Per Owner Choice</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Electricals</button>
                <div class="content">
                <ul>
                        <li>Wires: Anchor Or Equivalent</li>
                        <li>Switches: Hifi Or Equivalent</li>
                        <li>DB’s and MCB’s Are Included</li>
                        <li>1 UPS Point of Each Unit At The Nearest Feasible Point</li>
                    </ul>
                </div>              
            </div>

            <div class="course-col">
                <h3>STANDARD PACKAGE</h3>
                <a href=""class="hero-btn"><b>Get A Quote</b></a>
                <button type="button" class="collapsible">Design & Drawing</button>
                <div class="content">
                    <ul>
                        <li>2D Floor Plans</li>
                        <li>2D Elevations</li>
                        <li>Structural Designing</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Core Constructio Matrial</button>
                <div class="content">
                    <ul>
                        <li>Steel: Fe500 Grade Tmt – Kamadhenu Or Meenakshi Or Equivalent Brand</li>
                        <li>Cement: 53 & 43 Grades Of Penna/Priya/Dalmia/Maha Or Equivalent Brand</li>
                        <li>Concrete Mix: Rmc – M20 Grade</li>
                        <li>Solid Blocks – 6″ & 4″ Inches</li>
                        <li>Aggregates: 20Mm & 40Mm</li>
                        <li>M-Sand: Blockwork & P-Sand: Plastering</li>
                        <li>Underground Sump In 6″ Inches Solid Block & Waterproof Plastered</li>
                        <li>Two-Course Of Size Stone Masonry Under Plinth</li>
                        <li>Ceiling Height: 10 Feet</li>
                        <li>Waterproofing: Dr Fixit Or Fosroc</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Architecture Detailing</button>
                <div class="content">
                    <ul>
                        <li>Working Drawings For Execution</li>
                        <li>Schedule Of Openings</li>
                        <li>Sectional Drawings</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Flooring & Wall Tiling</button>
                <div class="content">
                <ul>
                        <li>Living, Kitchen, Dining & Bedroom Upto Rs 50/- Per Sqft</li>
                        <li>Staircase – Granite Upto Rs 70/- Per Sqft</li>
                        <li>Balconies & Sitout Areas – Anti Skid Tiles Upto Rs 40/- Per Sqft</li>
                        <li>Bathroom/Toilet Wall & Flooring Upto Rs 40/- Per Sqft</li>
                        <li>Parking Floor Upto Rs 35/- Per Sqft</li>
                        <li>Kitchen Countertop Upto Rs 100/- Per Sqft</li>
                        <li>Kitchen Dadoing Upto 4 Feet With Tiles Rs 40/- Per Sqft</li>
                        <li>Bathroom Dadoing Or Wall Tiling Height Upto 7 Feet Height</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Painting</button>
                <div class="content">
                <ul>
                        <li>Wall & Ceiling – 2 Coats Of Putty + 1 Coat Of Primer & Painted With 2 Coats Of Asian Tractor Emulsion</li>
                        <li>Exterior Walls: 1 Coat Primer + 2 Coats Of Ace Emulsion</li>
                        <li>2 Coats of Enamel Paint For The Windows MS Grills Only</li>
                        <li>Brands Considered Are Asian/Berger/Dulux As Per Owner Choice</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Electricals</button>
                <div class="content">
                <ul>
                        <li>Wires: Anchor Or Equivalent</li>
                        <li>Switches: Hifi Or Equivalent</li>
                        <li>DB’s and MCB’s Are Included</li>
                        <li>1 UPS Point of Each Unit At The Nearest Feasible Point</li>
                    </ul>
                </div>              
            </div>

            <div class="course-col">
                <h3>PREMIUM PACKAGE</h3>
                <a href="" class="hero-btn"><b>Get A Quote</b></a>
                <button type="button" class="collapsible">Design & Drawing</button>
                <div class="content">
                    <ul>
                        <li>2D Floor Plans</li>
                        <li>2D Elevations</li>
                        <li>Structural Designing</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Core Constructio Matrial</button>
                <div class="content">
                    <ul>
                        <li>Steel: Fe500 Grade Tmt – Kamadhenu Or Meenakshi Or Equivalent Brand</li>
                        <li>Cement: 53 & 43 Grades Of Penna/Priya/Dalmia/Maha Or Equivalent Brand</li>
                        <li>Concrete Mix: Rmc – M20 Grade</li>
                        <li>Solid Blocks – 6″ & 4″ Inches</li>
                        <li>Aggregates: 20Mm & 40Mm</li>
                        <li>M-Sand: Blockwork & P-Sand: Plastering</li>
                        <li>Underground Sump In 6″ Inches Solid Block & Waterproof Plastered</li>
                        <li>Two-Course Of Size Stone Masonry Under Plinth</li>
                        <li>Ceiling Height: 10 Feet</li>
                        <li>Waterproofing: Dr Fixit Or Fosroc</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Architecture Detailing</button>
                <div class="content">
                    <ul>
                        <li>Working Drawings For Execution</li>
                        <li>Schedule Of Openings</li>
                        <li>Sectional Drawings</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Flooring & Wall Tiling</button>
                <div class="content">
                <ul>
                        <li>Living, Kitchen, Dining & Bedroom Upto Rs 50/- Per Sqft</li>
                        <li>Staircase – Granite Upto Rs 70/- Per Sqft</li>
                        <li>Balconies & Sitout Areas – Anti Skid Tiles Upto Rs 40/- Per Sqft</li>
                        <li>Bathroom/Toilet Wall & Flooring Upto Rs 40/- Per Sqft</li>
                        <li>Parking Floor Upto Rs 35/- Per Sqft</li>
                        <li>Kitchen Countertop Upto Rs 100/- Per Sqft</li>
                        <li>Kitchen Dadoing Upto 4 Feet With Tiles Rs 40/- Per Sqft</li>
                        <li>Bathroom Dadoing Or Wall Tiling Height Upto 7 Feet Height</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Painting</button>
                <div class="content">
                <ul>
                        <li>Wall & Ceiling – 2 Coats Of Putty + 1 Coat Of Primer & Painted With 2 Coats Of Asian Tractor Emulsion</li>
                        <li>Exterior Walls: 1 Coat Primer + 2 Coats Of Ace Emulsion</li>
                        <li>2 Coats of Enamel Paint For The Windows MS Grills Only</li>
                        <li>Brands Considered Are Asian/Berger/Dulux As Per Owner Choice</li>
                    </ul>
                </div>
                <button type="button" class="collapsible">Electricals</button>
                <div class="content">
                <ul>
                        <li>Wires: Anchor Or Equivalent</li>
                        <li>Switches: Hifi Or Equivalent</li>
                        <li>DB’s and MCB’s Are Included</li>
                        <li>1 UPS Point of Each Unit At The Nearest Feasible Point</li>
                    </ul>
                </div>              
            </div>
            
        </div>
    </section>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
</script>
