{% extends 'base.html' %}
{% block title %} Bricko Homes {% endblock %}
{% block content %}    
    
    <section>
    <div class="navbartop">
        <a href="{% url 'patna-rural' %}" >Patna Rural</a>
        <a href="{% url 'patna-urban' %}" class="active">Patna Urban</a>  
        
    </div><hr>
    </section>
    <section>
        <div>
            <img class="city-interior-img"
                src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/city-img-1.jpeg"
                alt="">
            <span class="top-left" style="position: absolute; margin-top:0%; margin-left: -1200px; color: white;">
                <h3 class="display-3">Interior Designers<br>in Patna Urban</h3>
                <p>Bring your dream home to life with award-winning <br>designers at Bricko Homes.</p>
            </span>
        </div>
        <div style="margin-left: 120px; margin-top: 20px; text-decoration: none;">
            <span><a href="">Home</a><span>/</span>Interior Design Patna Urban</span>
        </div>
    </section>
    <section>
        <div class="container-fluid" style="background-color: #d1cfe2;">
            <div class="information">
                <div class="col-md-6"><br><br>
                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/injection-.png"
                        alt="" height="50px" width="50px">
                    <h3>Vaccination Status</h3>
                    <p>We’re taking all necessary precautions at our Experience Centres, manufacturing facilities and on
                        your site</p><br>
                </div>
                <div class="col-md-6">
                    <img class="vaccine-report-img"
                        src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Patna+Vaccinated+image.png"
                        alt="" height="80px" width="300px">
                </div>
            </div>
        </div>
    </section>
    <!---------------------------------------------------design we give-------------------------------------------->
    <section>
        <div class="container-fluid">
            <div class="information">
                <div class="col-md-6"><br><br>
                    <h3>Home interiors becoming a hassle?</h3>
                    <p>Our interior designers can take care of everything - from design to installation</p><br>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'get-quotation'%}" class="buttn" type="button">Speak to our Designer</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/1.jpeg"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="card-body" style="height: fit-content;">
                            <h5 class="card-title">We design</h5>
                            <p class="card-text">We take the time to understand your lifestyle and needs, before
                                translating your vision in 3D</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/We+curate.jpg"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="card-body" style="height: fit-content;">
                            <h5 class="card-title">We create</h5>
                            <p class="card-text">Kitchen appliances, furniture, lighting and decor, find everything you
                                need in our extensive catalogue</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/flooring.png"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="card-body" style="height: fit-content;">
                            <h5 class="card-title">We deliver</h5>
                            <p class="card-text">We'll do all the heavy-lifting-flooring, painting, false ceiling,
                                plumbing and everything else in between</p>
                        </div>
                    </div>
                </div>
            </div>
    </section><br>
    <!-----------------------------------------------------choose us-------------------------------------------------------->
    <section>
        <div class="container-fluid" style="background-color: #d1cfe2; margin-top: 40px;"><br>
            <div>
                <h3 style="text-align: center;">Choose Us</h3>
            </div>
            <div class="container" style="text-align: center;">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Blue+Real+Estate+Logo+.png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">4,500 +</h5>
                                <p class="card-text">Patna Urban homes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Blue+Real+Estate+Logo++(3).png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">2.5 lakh +</h5>
                                <p class="card-text">catalogue products</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Designer-icon.png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">150 +</h5>
                                <p class="card-text">expert interior designers</p>
                            </div>
                        </div>
                    </div>
                </div><br><br><br>
            </div>
        </div>
    </section>
    <!------------------------------------budget section---------------------------------------------------------------------------->
    <section>
        <div class="container-fluid">
            <div class="information">
                <div class="col-md-6"><br><br>
                    <h3>Homes for every budget</h3>
                    <p>Our interior designers work with you keeping in mind your requirements and budget</p><br>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'get-quotation'%}" class="buttn" type="button">Speak to our Designer</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img class="eco-img"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/1.jpeg"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="top-left1 text-dark">
                            <h4 class="eco"> ₹ Economical</h4>
                        </div>
                        <div class="bottom-left text-light">
                            <h4>A 2 BHK for a family of 4</h4>
                            <p>Time-Taken 2 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="eco-img"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/elegant.jpeg"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="top-left1 text-dark">
                            <h4 class="eco"> ₹₹ Elegant</h4>
                        </div>
                        <div class="bottom-left text-light">
                            <h4>A 3 BHK for a family of 5</h4>
                            <p>Time-Taken 3 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="eco-img"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/exclusive.jpeg"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="top-left1 text-dark">
                            <h4 class="eco"> ₹₹₹ Exclusive</h4>
                        </div>
                        <div class="bottom-left text-light">
                            <h4>A 4 BHK for a family of 7</h4>
                            <p>Time-Taken 2 Months</p>
                        </div>
                    </div>
                </div>
            </div>
    </section><br>
    <!------------------------------------------------------reason to love us----------------------------------->
    <section>
        <div class="container-fluid" style="background-color: #d1cfe2; margin-top: 40px;"><br>
            <div>
                <h3 style="text-align: center;">Reasons To Love Us</h3>
            </div><br>
            <div class="container" style="text-align: center;">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/warranty1.png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">India's only full home warranty*</h5>
                                <p class="card-text">Up to 10-yrs for products & services</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/quality+check.png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">146 quality checks</h5>
                                <p class="card-text">To give your home the best</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/callender.png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">45-day installation</h5>
                                <p class="card-text">Swift kitchens, wardrobes & storage</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Personalised+designs.png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">Personalised designs</h5>
                                <p class="card-text">That are as unique as you</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/shop.png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">One-stop shop</h5>
                                <p class="card-text">For all home interior needs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/wallet.png"
                                class="card-img-top" alt="..." height="inherit">
                            <div class="card-body" style="height: fit-content;">
                                <h5 class="card-title">No hidden costs</h5>
                                <p class="card-text">Ensures shock-free quotations</p>
                            </div>
                        </div>
                    </div>
                </div><br>
                <!-- <span style="font-size: 12px;">T&Cs apply: *Up to 10-yrs for products & services. For full scope on
                    warranty, please visit www.brickohomes.com/service | For select finishes on modular products</span> -->
            </div><br><br>
        </div>
    </section>
    <!------------------------------------Transforming patna---------------------------------------------------------------------------->
    <section>
        <div class="container-fluid">
            <div class="information">
                <div class="col-md-6"><br><br>
                    <h3>Transforming Patna Urban</h3>
                    <p>One home at a time</p><br>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img class="eco-img"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Personalised+Interior.jpeg"
                            class="card-img-top" alt="..." height="inherit">

                        <div class="bottom-left text-light">
                            <h4>Personalised Interior</h4>
                            <p>Patna Urban</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="eco-img"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Smart+Solution.jpeg"
                            class="card-img-top" alt="..." height="inherit">

                        <div class="bottom-left text-light">
                            <h4>Smart Solution</h4>
                            <p>Patna Urban</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="eco-img"
                            src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/clutter-free+Homes.jpeg"
                            class="card-img-top" alt="..." height="inherit">

                        <div class="bottom-left text-light">
                            <h4>Clutter-free Homes</h4>
                            <p>Patna Urban</p>
                        </div>
                    </div>
                </div>
            </div>
    </section><br>
    <!-----------------------------------------------------Why love us-------------------------------------------------------->
    <section>
        <div class="container-fluid" style="background-color: #d1cfe2; margin-top: 40px;"><br>
            <div>
                <h3 style="text-align: center;">Patnaits Love Us</h3><br>
            </div>
            <div class="container" style="text-align: center;">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <video  controls autoplay>
                                <source
                                    src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Conference+Room+-+1191.mp4"
                                    type="video/mp4" >
                            </video>
                            <div class="card-body" style="height: fit-content;">
                                <p>"Bricko Home exactly what we were hoping for. Our office looks exactly how we had
                                    imagined it when we started this journey."</p>
                                <h5 class="card-title">Shyamaprasad Mukhrji</h5>
                                <p class="card-text">Patna homes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <video controls autoplay>
                                <source
                                    src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Conference+Room+-+1191.mp4"
                                    type="video/mp4">
                            </video>
                            <div class="card-body" style="height: fit-content;">
                                <p>"Bricko Home exactly what we were hoping for. Our office looks exactly how we had
                                    imagined it when we started this journey."</p>
                                <h5 class="card-title">Shyamaprasad Mukhrji</h5>
                                <p class="card-text">Patna homes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <video controls autoplay>
                                <source
                                    src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Conference+Room+-+1191.mp4"
                                    type="video/mp4">
                            </video>
                            <div class="card-body" style="height: fit-content;">
                                <p>"Bricko Home exactly what we were hoping for. Our office looks exactly how we had
                                    imagined it when we started this journey."</p>
                                <h5 class="card-title">Shyamaprasad Mukhrji</h5>
                                <p class="card-text">Patna homes</p>
                            </div>
                        </div>
                    </div>
                </div><br><br><br>
            </div>
        </div>
    </section>
    <!-----------------------------------------------------our magazine-------------------------------------------------------->
    <section>
        <div class="container-fluid">
            <div class="information">
                <div class="col-md-6"><br><br>
                    <h3>Check out our magazine</h3>
                    <p>Browse through our magazine section. We have everything from design fixes to expert tips</p><br>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/magazine1.png"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="card-body" style="height: fit-content;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="living-text">Spacious Multi-functional Scandinavian Style Living Room</p>
                                    <span>Patna | 09-10-2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/magazine1.png"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="card-body" style="height: fit-content;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="living-text">Spacious Multi-functional Scandinavian Style Living Room</p>
                                    <span>Patna | 09-10-2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/magazine1.png"
                            class="card-img-top" alt="..." height="inherit">
                        <div class="card-body" style="height: fit-content;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="living-text">Spacious Multi-functional Scandinavian Style Living Room</p>
                                    <span>Patna | 09-10-2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section><br>
    <!-----------------------------------------------------map -------------------------------------------------------->
    <section>
        <div class="container-fluid" style="background-color: #d1cfe2; margin-top: 40px;"><br>
            <div>
                <h3 style="text-align: center;">Our office location</h3><br>
            </div>
            <center>
                <div>
                    <!-- Google Map Copied Code -->
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7195.913632098206!2d85.16017057488011!3d25.606351184829762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed58ead40cf591%3A0x92a508a923ddac43!2sRajendra%20Nagar%2C%20Patna%2C%20Bihar!5e0!3m2!1sen!2sin!4v1642614252336!5m2!1sen!2sin"
                        width="1200" height="400" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0">
                    </iframe>
                </div>
            </center><br><br>
            <div class="container" style="margin-left: 135px; margin-right: 180px;">
                <div class="row o-location">
                    <div class="col-md-6">
                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/Personalised+Interior.jpeg"
                                        class="d-block w-100" height="400px" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/elegant.jpeg"
                                        class="d-block w-100" height="400px" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/city-img-1.jpeg"
                                        class="d-block w-100" height="400px" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5" style="margin-right: -15px;">
                        <h3>Office Location</h3>
                        <p>JF 2/20, BLOCK-4, RAJENDRA NAGAR, PATNA, BIHAR-800016</p>
                    </div>
                </div><br>
            </div>
        </div>
    </section><br>
<!-------------------------------------------------------FAQ ___________________________________________________________________-->
    <section>
        <div class="container">
            <div>
                <h1>FAQs</h1>
            </div>

            <button class="collapsible">1. Is this the right time to do my home interiors in Patna?</button>
            <div class="content">
                <p>Yes, it is. From meetings at our Patna Experience Centres(EC) to installing your home interiors at the site, we have a strict no-contact safety policy. From temperature checks to fumigation, all is taken care of. So don’t worry about kick-starting your dream project.

                    Since the process of co-creating a design typically takes 4-6 weeks, you can get started with online consultation. Our designers can assist you online via video calls. When it feels safe, you can also schedule an appointment and meet us at our Experience Centres in Patna.</p>
            </div><br>
            <button class="collapsible">2. Can I meet my interior designer at the Patna Experience Centre?</button>
            <div class="content">
                <p>Yes, certainly. Keeping safety in mind, we have enabled 2 different ways of interaction:
                    Contactless and safe design meets at our Patna Experience Centres
                    Online Consultation
                    Please note: If your site or the place of meeting falls under Red or Containment Zone, we would only be able to assign a designer for online consultation.</p>
            </div><br>
            <button class="collapsible">3. What can I expect to see at the brickoHomes Experience Centre in Patna?</button>
            <div class="content">
                <p>to see how your future #BrickoHome would look like. With looks for every room, furniture for each corner, material samples on display, and a dedicated interior designer to take you through it, your quest for everything home interiors will definitely end here.</p>
            </div><br>
            <button class="collapsible">4. How can I select materials for design?</button>
            <div class="content">
                <p>While we can share images of the materials and finishes during the design phase online, you will have to visit the closest Experience Centre in Patna to finalise them. We can assure you that our centres are safe and we are adhering to every protocol. Please note - We can only facilitate your visit from green and orange zones. We will not be able to attend to visitors who do not adhere to safety protocols.</p>
            </div><br>
            <button class="collapsible">5. How will my site be measured?</button>
            <div class="content">
                <p>You can share the floor plan of your home with our designers, that should help us to start your project. In case you don’t have the floor plan, we will assign our representative for a site visit. Be assured, our representatives will follow all the necessary protocols for your safety as well as their own.</p>
            </div><br>
            <button class="collapsible">6. What will be the timelines for my project completion?</button>
            <div class="content">
                <p>With BrickoHomes Move-in Guarantee*, you can get modular solutions manufactured and installed in 45 days. For full home interiors, we typically take around 90 days.* Though things were put on hold during the lockdown, we are slowly getting back to normal and are doing everything we can to cover up on the lost time and to deliver your home interiors in the safest way possible.
                   </p> <span style="font-size: 12px;">*T&Cs apply. For more information, visit the policies page</span>    
            </div><br>
            <button class="collapsible">7. Can I visit the BrickoHomes Experience Centre in Patna during the lockdown restrictions?</button>
            <div class="content">
                <p>Since relaxation, we have opened our experience centres in Patna as per the directives from the government.

                    With temperature checks, use of alcohol-based hand rubs, and contactless meetings, we are taking all the necessary precautions for your visit and there’s nothing you need to be worried about.</p>
            </div><br>
        </div><br><br><br>

        <!-- <div>
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/images/architect/interior+design+image/city-images/planning-1855638_960_720.jpg" width="100%" height="500px" style="opacity: 0.5;" alt="">
            <div class="centere"><h1>Your dream home is just a click away</h1>
                <div>
                    <a href="" class="buttn-l" type="button">Speak to our Designer</a>
                </div>
            </div>
        </div> -->
    </section>
{% endblock %}