<style>
    .slidearea{
    font-family: Open Sans;
    color: black;
    text-align: center;
    margin-bottom: 5%;
    margin-right: 30%;
    margin-left: 0% !important;
    padding-left: 2;
    opacity:0.6;
    border: 3px solid gray;
    border-radius: 20px;
    left: 16px;
}
h3{
    font-size: 26px;
}
p{
    font-size: 17px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered:hover{
    background-color: #daeaf6 !important;
}
</style>

<section style="font-family: Open Sans, Montserrat, Roboto, Playfair Display, Merriweather,Helvetica;">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">

            {% if crousals %}
                {% for crousal in crousals %}
                    {% if crousal.id == 1 %}
                        <div class="carousel-item active" data-bs-interval="1000">
                            
                            <img class="carousel-image" src="{{crousal.url}}" class="d-block w-100" alt="img">
                            <a href="{% url 'consult-now'%}" class="btn btn-outline text-dark centered " style="border-radius: 24px; background-color: #d1cfe2;"> <b>SPEAK TO OUR DESIGNER</b></a>
                            
                        </div>
                    {% else %}
                        <div class="carousel-item" data-bs-interval="10000">
                            
                            <img class="carousel-image" src="{{crousal.url}}" class="d-block w-100" alt="img">
                            <a href="{% url 'consult-now'%}" class="btn btn-outline text-dark centered " style="border-radius: 24px; background-color: #d1cfe2;"> <b>SPEAK TO OUR DESIGNER</b></a>
                            
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <p>no crousal data</p>
            {% endif %}
            
            
        </div>
    </div>
</section>