<section style="font-family: Open Sans;">
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
        {% if teams %}
            {% for team in teams %}
                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="{{team.profile_dp.url }}" alt="Avatar" style="width:inherit;height:inherit;">
                                <div class="slidearea carousel-caption d-none d-md-block bg-light">
                                    <h3>{{ team.name}}</h3>
                                    <p><p>{{ team.descrption | safe}}</p></p>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <h3>{{team.name}}</h3>
                                <p>{{ team.designation}}</p>
                                <p>{{team.email}}</p>
                                <p>{{team.description | safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <p>Team data not found</p>
        {% endif %}

        <!-- <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h3>John Doe</h3>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h3>John Doe</h3>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>