<section style="background-color: #daeaf6;">
    <br>
    <h3><b>What People Speak about Us</b></h3>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
          <div class="card">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/site-cofig/person-placeholder.png" class="card-img-top" alt="user-image-or-video">
            <div class="card-body">
              <p class="card-text">Samaple Quote : Name of Person </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/site-cofig/person-placeholder.png" class="card-img-top" alt="user-image-or-video">
            <div class="card-body">
              <p class="card-text">Samaple Quote : Name of Person</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://construction-static.s3.ap-south-1.amazonaws.com/site-cofig/person-placeholder.png" class="card-img-top" alt="user-image-or-video">
            <div class="card-body">
              <p class="card-text">Samaple Quote : Name of Person</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
</section>